body {
  margin: 0;
}

#pagetop {
  text-align: center;
  padding: 30px;
  font-size: 1.8em;
  font-family: sans-serif;
  background-color: tan;
}

#about-pane {
  float: left;
  padding: 10px;
  background-color: darkSeaGreen;
}

#about-pane h3 {
  color: Yellow;
}

#app-pane {
  float: left;
  padding: 10px;
  padding-left: 40px;
}
